*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 100;
}


.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
   
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    text-transform: uppercase;
    color: white !important;
    font-weight: 600;
    text-align: left;
    float: right;
}

.navbar-toggler{
    outline: none !important;

}

.navbar-toggler i {
    color: white;
    font-size: 20px ;
    
}


/* ---------Banner section----------- */


#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
   padding-top: 3%;
   color: #fff !important;
 
}


.big-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}



.play-btn {

 width: 45px;
 margin-right: 20px;
}

#banner p{
    font-size: 14px;
}

#banner a {
    text-decoration: none;
    color: white;
    
}

#banner .img-fluid{
    width: 80%;
}


#banner .bottom-img {
    width: 100%;
}


/* section service */

#service {

    padding-top: 10%;
}
 .service{
     padding: 20px;
     width: 100%;
 }

#service .service-img{
    width: 100px;
    margin-bottom: 25px;
}

#service p{
    font-size: 14px;
}


#service h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.title{
    margin-bottom: 5%;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}


.title::before{
    content: '';
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 5px;
    width: 180px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    transform: translateY(50px);
}

 .title::after{
    content: '';
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 10px;
    width: 50px;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    transform: translateY(6.5px);
    
}

#service  .btn{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    border-radius: 18px;
    padding: auto 20px;
    outline: none;
    color: white;
    margin-bottom:50px ; 
}

/* section about */

#about{
  
    background: whitesmoke;
    padding: 50px 0 50px 0;
}





#about .different{
   margin-top: 7%;
}

#about .different h3{
    font-size: 30px;
}

#about .different ul li {
    font-size: 13px;
    margin:  10px 0;
}

/* section testmonials */


#testimonials {
    margin: 100px 0;
}


.testimonials{
    border-left: 4px solid #5f1782;
    margin: 50px 0 50px 0;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
   margin: 0 10px;
}


.user-details {
    display: inline-block;
    font-size: 12px;
}


/* ----------social media----------- */

#social-media{
    background: whitesmoke;
    padding: 100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img {
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}


#footer{
   
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-img{
    width: 100%;
}


.footer-box{
    padding: 20px;
}

.footer-box img {
    width: 100px;
    margin-bottom: 20px;
}

.footer-box  p{
    color:white;
    font-size:14px;
}

.footer-box  .fas{
    margin-right: 8px;
    font-size: 15px;
    height: 40px;
    width:40px;
    padding-top: 14px;
    border-radius: 2px;
    text-align: center;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}


.footer-box  .form-control{
    box-shadow: none !important;
    width: 250px;
    outline: none;
    border-radius: 0;
    border: none;
}

.footer-box .btn{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
   margin-top: 20px;
    padding: auto 20px;
    outline: none;
    color: white; 
    box-shadow: none !important;
    
}
